@import "tailwindcss";
@layer utilities {
    .body-bg {
      background-color: #e5e5e5;
    }
  
    .nav-bg {
      background-color: #c5c9c7;
    }
  }
  html {
    scroll-behavior: smooth;
  }
  .abt-data {
    font-weight: bold;
    min-width: 150px; /* Ensures labels are aligned */
    display: inline-block; /* Prevents line breaks */
  }
  /* Tilt container to add perspective */
.tilt-container {
  perspective: 1000px;
}

/* Tilt image with transition */
.tilt-image {
  transition: transform 0.3s ease-in-out;
}

/* Hover effect: tilt and scale */
.tilt-container:hover .tilt-image {
  transform: rotateX(10deg) rotateY(10deg) scale(1.1);
}